.config {
    width: 100%;
}

.config label {
    font-size: 14px;
    margin-bottom: 8px;
    color: rgba(0,0,0,.55);
    color: var(--text-secondary-color,rgba(0, 0, 0, .55));
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.inline-configuration-error {
    padding-top: 6px;
    color: rgba(218,10,0,1);
    color: var(--status-error-text,rgba(218, 10, 0, 1));
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
    min-height: 25px;
    width: 400px;
}

.textfield {
    color: rgba(0,0,0,.9);
    color: var(--text-primary-color,rgba(0, 0, 0, .9));
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.55);
    border: 1px solid var(--text-secondary-color,rgba(0, 0, 0, .55));
    background-color: rgba(255,255,255,1);
    background-color: var(--background-color,rgba(255, 255, 255, 1));
    overflow: hidden;
    min-width: 64px;
    font-size: 14px;
}

.textfield-input {
    border: none;
    outline: none;
    background-color: inherit;
    padding: 5px 11px;
    resize: none;
    width: 100%;
}

.no-margin {
    margin-top: auto;
}

.unconfigured-message-body {
    flex: 2 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding-top: 12%;
}

.unconfigured-message-body .unconfigured-message-content {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    color: rgba(0,0,0,.55);
    color: var(--text-secondary-color,rgba(0, 0, 0, .55));
    font-size: 1rem;
    text-align: center;
}

.unconfigured-message-body .unconfigured-message-icon {
    color: rgba(102,102,102,1);
    color: rgba(var(--palette-neutral-60,102, 102, 102),1);
    text-align: center;
    width: auto;
    display: block;
    margin: 0 auto;
    padding-top: 6px;
}

.unconfigured-image.contain {
    align-self: center;
    justify-self: center;
    display: block;
    width: 100%;
    height: auto;
}